{extend name="public/base" /}

{block name="content"}
<!--页面路径 和 页面标题-->
<div class="page-title">

    <div class="title-env">
        <h1 class="title">前端布局管理</h1>
        <p class="description">所有布局</p>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="/admin"><i class="fa-home"></i>Home</a>
            </li>
            <li>
                <a href="#">系统设置</a>
            </li>
            <li class="active">
                <strong>前端设置</strong>
            </li>
        </ol>

    </div>

</div>
<style>
    .page_title{width: 320px;height: 64px;background: transparent url('__ROOT__/static/assets/images/wx_mobile_header_bg.png') no-repeat 0 0;color: #fff;text-align: center;padding-top:33px ;font-size: 15px}
    .focus{width: 100%;min-height: 120px;border: 3px solid #9ccff4;cursor: pointer}
    .front_box{width: 100%;min-height: 120px;border: 1px dashed #e7e7eb;cursor: pointer}


</style>
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
            <div class="col-md-3">
                    <h3 class="panel-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">布局浏览</font></font></h3>
            </div>
            <div class="col-md-9">
                    <h3 class="panel-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">组件管理</font></font></h3>
            </div>
            </div>
            <!--左边栏-->
            <div class="panel-body panel-border">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div>
                                    <div class="page_title">
                                        WeChat
                                    </div>
                                    <div id="front_exam" style="height: 560px;width: 320px;border: 1px solid #e7e7eb;overflow-y:scroll">
                                        <div style="padding: 3px 6px 3px 6px;">
                                            <div class="" style="text-align: center;">
                                                <h4>选择页面后可查看页面布局示例</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--中间栏-->
                    <div class="col-sm-9">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group" style="display: block;">
                                        <span class="col-sm-2">选择页面</span>
                                        <div class="col-sm-2" style="display: inline-block;">

                                            <select name="page" class="form-control page_cate">
                                                <option value="">选择页面</option>
                                                {foreach $page_list as $key => $list}
                                                <option value="{$list.id}">{$list.page_name}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                        <span class="col-sm-2">选择关键字</span>
                                        <div class="col-sm-2" style="display: inline-block;">

                                            <select name="keywords_id" class="form-control keywords_cate" id="keywords_id">
                                                <option value="">选择关键字</option>
                                                {foreach $key_words as $k => $keywords}
                                                <option value="{$keywords.id}">{$keywords.name}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <input type="hidden" class="page_id" value="">
                                    <input type="hidden" class="control_id" value="">
                                    <button class="btn btn-icon btn-success" data-toggle="modal" data-target="#add-control">
                                        <i class="fa-plus"></i> 新建组件
                                    </button>
                                </div>
                                <!--<div class="col-sm-1">-->
                                    <!--<input type="hidden" class="page_id" value="1">-->
                                    <!--<button class="btn btn-icon btn-success" data-toggle="modal" data-target="#add-resource">-->
                                        <!--<i class="fa-plus"></i> 前面添加-->
                                    <!--</button>-->
                                <!--</div>-->
                                <!--<div class="col-sm-1">-->
                                    <!--<input type="hidden" class="page_id" value="1">-->
                                    <!--<button class="btn btn-icon btn-success" data-toggle="modal" data-target="#add-resource">-->
                                        <!--<i class="fa-plus"></i> 后面添加-->
                                    <!--</button>-->
                                <!--</div>-->
                            </div>

                        </div>
                        <!--右边栏-->
                        <div class="row" id="control_info">
                            <div style="text-align: center">
                                <h3>请点击左侧示例查看组件信息</h3>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-12">-->

                    <!--</div>-->
                </div>

            </div>

        </div>

    </div>
</div>
{/block}

{block name="modal"}



<!--添加组件模态框-->
<div class="modal fade custom-width" id="add-control" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 50%">
        <form id="add-control-form" method="post" class="form-horizontal" action="/admin/system/addControlPost">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">新建组件</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-7 text-center">
                            <div class="droppable-area" id="ctrl_demo_img" style="border-radius: 0%;width: 180px;height: 120px;line-height: 120px;">
                                示例图片
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">组件标题</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="control_name" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题描述</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="control_desc" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">组件类型</label>
                            <div class="col-sm-4">
                                <select class="form-control control-type" name="control_type">
                                    <option value="">选择组件类型</option>
                                    {foreach $control_type as $type}
                                    <option value="{$type.id}">{$type.type_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group advertising-select">

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="sort" value="0" oninput="value=value.replace(/[^\d]/g,'')">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否固定</label>
                            <div class="col-sm-6">
                                <label class="radio-inline"><input type="radio" name="is_fixed" checked="1" value="1">活动</label>
                                <label class="radio-inline"><input type="radio" name="is_fixed" value="2">固定</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-6">
                                <label class="radio-inline"><input type="radio" name="status" checked="1" value="1">发布</label>
                                <label class="radio-inline"><input type="radio" name="status" value="2">隐藏</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-info btn-single pull-right" id="add-control-button" value="保存">
                </div>
            </div>
        </form>
    </div>
</div>




<!--编辑轮播图模态框-->

<div class="modal fade" id="edit-banner" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form id="edit-form" method="post" class="form-horizontal" action="/admin/system/editBannerPost" id="edit-form">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">编辑分类</h4>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="id" id="banner_id" value="">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">原图</label>
                            <div class="col-sm-4">
                                <div class="droppable-area" style="border-radius: 0%;width:180px;height: 120px;">
                                    <img src="" id="show-image" style="width: 180px;height: 120px;border-radius: 0%">
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div class="droppable-area" style="border-radius: 0%;width:180px;height: 120px;">
                                    <video controls="controls" src="" id="show-video" style="width: 180px;height: 120px;border-radius: 0%"></video>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择文件</label>
                            <div class="col-sm-4">
                                <div id="edit-advancedDropzone-picture" class="droppable-area" style="border-radius: 0%;width: 180px;height: 120px;line-height: 120px;">
                                    点击上传
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div id="edit-advancedDropzone-video" class="droppable-area" style="border-radius: 0%;width: 180px;height: 120px;line-height: 120px;">
                                    点击上传
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="sort" oninput="value=value.replace(/[^\d]/g,'')" id="sort" value="0">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">链接</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<script type="text/javascript">-->
                                    <!--jQuery(document).ready(function($)-->
                                    <!--{-->
                                        <!--$("#s2example-2").select2({-->
                                            <!--placeholder: '选择链接视频...',-->
                                            <!--allowClear: true-->
                                        <!--}).on('select2-open', function()-->
                                        <!--{-->
                                            <!--// Adding Custom Scrollbar-->
                                            <!--$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();-->
                                        <!--});-->

                                    <!--});-->
                                <!--</script>-->

                                <!--<select class="form-control" id="s2example-2" name="url">-->
                                    <!--<option></option>-->
                                    <!--<option value="}"></option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">链接</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="url" id="url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-6">
                                <label class="radio-inline"><input type="radio" name="status" checked="1" value="1">发布</label>
                                <label class="radio-inline"><input type="radio" name="status" value="2">隐藏</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="hidden" value="" name="image_url" id="edit-image-url">
                    <input type="hidden" value="" name="video_url" id="edit-video-url">
                    <input type="hidden" value="" name="video_id" id="edit-video-id">
                    <input type="hidden" value="" name="video_play_auth" id="edit-video-play-auth">
                    <input type="button" class="btn btn-info" id="edit-button" value="Save changes">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="upload-show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">上传进度</h4>
            </div>
            <div class="modal-body">
                <div class="page-container">
                    <div class="main-content ">
                        <div class="row table-responsive">
                            <table class="table table-bordered table-striped" id="example-dropzone-filetable">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Name</th>
                                    <th>Upload Progress</th>
                                    <th>Size</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5">Files list will appear here</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script src="/static/assets/js/dropzone/dropzone.js"></script>
<script>
    $('#edit-banner').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var modal = $(this);
        $.ajax({
            url:'/admin/system/edit',
            method: 'POST',
            dataType: 'json',
            data:{
                id:id,
            },
            success: function(res)
            {
                if(res.code == 1) {
                    modal.find('.modal-body #banner_id').val(res.data.id);
                    modal.find('.modal-body #sort').val(res.data.sort);
                    modal.find('.modal-body #url').val(res.data.url);
                    modal.find('.modal-body #show-image').attr("src",res.data.image);
                    modal.find('.modal-body #show-video').attr("src",res.data.video_url);
                    $("#edit-banner #edit-image-url").val(res.data.image);
                    $("#edit-banner #edit-video-url").val(res.data.video_url);
                    $("#edit-banner #edit-video-id").val(res.data.video_id);
                    $("#edit-banner #edit-video-play-auth").val(res.data.video_play_auth)
                    $("#edit-banner :radio[name='status'][value='" + res.data.status + "']").prop("checked", "checked");
                    $("#edit-banner :select[name='url'][value='" + res.data.url + "']").prop("selected", "selected");

                }else{
                    error(res.message);
                }
            }
        });
    });
    //添加组件表单提交
    $("#add-control-button").click(function(){
        var targetUrl = $("#add-control-form").attr("action");
        var data = $("#add-control-form").serialize();
        var page_id = $(".page_id").val();
        if(!page_id){
            alert("请选择页面");
            return;
        }else{
            data = data+"&page_id="+page_id
        }
        $.ajax({
            type:'post',
            url:targetUrl,
            cache: false,
            data:data,
            dataType:'json',
            success:function(data){
                console.log(data);
                if(data.code === 1) {
                    success(data.message);
                    setTimeout("location.reload()",1000);
                }else{
                    error(data.message);
                }
            }
        })
    });
    //监听组件类型下拉框改变事件
    $(".control-type").change(function(){
        var type_id = $(this).children('option:selected').val();
        $.ajax({
            url:'/admin/advertising/advertisingSelectApi',
            type:'post',
            data:{
                type_id:type_id
            },
            dataType:'json',
            success:function(res){
                $("#ctrl_demo_img").html("<img  style='width: 180px;height: 120px;border-radius: 0%' src='"+res.demoImg+"'/>");
                $(".advertising-select").html(res.selectTemp);
            }
        })
    })
    //选择页面 下拉选择框改变事件
    $(".page_cate").change(function(res){
        var page_id = $(this).children('option:selected').val();
        var page_name = $(this).children('option:selected').html();
        $(".page_title").html(page_name);
        $(".page_id").val(page_id);
        $.ajax({
            url:'/admin/system/pageSelectApi',
            type:"post",
            dataType:"json",
            data:{
                page_id:page_id
            },
            success:function(res){
                // 修改左边栏信息
                $("#front_exam").html(res);
                $("#control_info").html('<div style="text-align: center"><h3>请点击左侧示例查看组件信息</h3></div>');
            }
        })
    })
    //左侧示例点击事件
    $(document).on('click','.click_info',function(){
        var id = $(this).attr('value');
        var control_type = $(this).attr('control_type');
        $('.control_id').val(id);
        $(this).parent().siblings().children().attr('class','front_box click_info');
        $(this).attr('class','focus click_info');
        var keywords_id= document.getElementById('keywords_id').value;
        console.log(keywords_id);
        $.ajax({
            url:'/admin/system/controlClickApi',
            type:'post',
            dataType:'json',
            data:{
                control_id:id,
                control_type:control_type,
                keywords_id:keywords_id
            },
            success:function(res){
                $('#control_info').html(res);
            }
        })
    })
    //编辑组件表单提交
    $(document).on('click','#edit-ctrl-save',function(){
        var data = $("#edit_control").serialize();
        var ctrl_type = $("#front_info select[name=control_type]").val();
        var ctrl_id = $("#front_info input[name=ctrl_id]").val();
        data = data+'&control_type='+ctrl_type+'&control_id='+ctrl_id;
        $.ajax({
            url:'/admin/system/editControlPost',
            type:'post',
            dataType:'json',
            data:data,
            success:function(data){
                if(data.code == 1) {
                    success(data.message);
                    setTimeout("location.reload()",1000);
                }else{
                    error(data.message);
                }
            }
        })
    })
    //添加资源表单提交
    $("#add-resource-btn").click(function(){
        var targetUrl = $("#add-resource-form").attr("action");
        var data = $("#add-resource-form").serialize();
        var control_id = $(".control_id").val();
        console.log('add-resource-btn").click')
        $.ajax({
            type:'post',
            url:targetUrl,
            data:data,
            dataType:'json',
            success:function(data){
                console.log(data);
                if(data.code == 1) {
                    var tr = '<tr>' +
                        '<td>'+data.data.id+'</td>' +
                        '<td>'+data.data.sort+'</td>' +
                        '<td>' +
                        '<img src="'+data.data.image+'" width="120px" height="80px">' +
                        '</td>' +
                        '<td>' +
                        '<p style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;" title="'+data.data.url+'">' +data.data.url+'</p>' +
                        '</td>' +
                        '<td>' +data.data.position+
                        '</td>' +
                        '<td>' +
                        '<input type="checkbox" onclick="change_status('+data.data.id+',\'banner\',\'status\')" {if condition="'+data.data.status+' == 1"}checked=""{/if}  class="iswitch iswitch-success">' +
                        '</td>' +
                        '<td>' +
                        '<button class="btn btn-icon btn-success" data-toggle="modal" data-target="#edit-banner" data-id="'+data.data.id+'">' +
                        '<i class="fa-edit">编辑</i>' +
                        '</button>' +
                        '<button class="btn btn-icon btn-red" onclick="deleteBanner('+data.data.id+',\'banner\',this)">' +
                        '<i class="fa-trash">移除</i>' +
                        '</button>' +
                        '</td>' +
                        '</tr>'
                    success(data.message);
                    $("#tab-body").append(tr)
                    //setTimeout("location.reload()",1000);
                }else{
                    error(data.message);
                }
            }
        })
    });
    //编辑轮播图表单提交
    $("#edit-button").click(function(){
        var targetUrl = $("#edit-form").attr("action");
        var data = $("#edit-form").serialize();
        $.ajax({
            type:'post',
            url:targetUrl,
            cache: false,
            data:data,
            dataType:'json',
            success:function(data){
                if(data.code == 1) {
                    success(data.message);
                    setTimeout("location.reload()",1000);
                }else{
                    error(data.message);
                }
            }
        })
    });
    //更改状态
    function change_status(id,type,field) {
        $.ajax({
            url:'/admin/system/changeStatus',
            method: 'POST',
            dataType: 'json',
            data:{
                id:id,
                type:type,
                field:field
            },
            success: function(res)
            {
                if(res.code != 1) {
                    error(res.message);
                }
            }
        })
    };
    //删除轮播图
    function deleted(id,type) {
        if(confirm("是否确认删除")){
            $.ajax({
                url:'/admin/system/deleted',
                method: 'POST',
                dataType: 'json',
                data:{
                    id:id,
                    type:type
                },
                success: function(res)
                {
                    if(res.code == 1) {
                        success(res.message);
                        setTimeout("location.reload()",1000);
                    }else{
                        error(res.mssage);
                    }
                }
            })
        }
    };

    //删除轮播图
    function deleteBanner(id,type,obj) {
        if(confirm("是否确认删除")){
            $.ajax({
                url:'/admin/system/deleted',
                method: 'POST',
                dataType: 'json',
                data:{
                    id:id,
                    type:type
                },
                success: function(res)
                {
                    if(res.code == 1) {
                        success(res.message);
                        $(obj).parent().parent().remove()
                        //setTimeout("location.reload()",1000);
                    }else{
                        error(res.mssage);
                    }
                }
            })
        }
    };

</script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        var i = 1,
        $example_dropzone_filetable = $("#example-dropzone-filetable"),
        example_dropzone1 = $("#advancedDropzone_picture").dropzone({
            url: '/admin/base/uploadFile',
            // Events
            addedfile: function(file)
            {
                $('#upload-show').modal('toggle')
                if(i == 1)
                {
                    $example_dropzone_filetable.find('tbody').html('');
                }

                var size = parseInt(file.size/1024, 10);
                size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");

                var	$el = $('<tr>\
                                                <td class="text-center">'+(i++)+'</td>\
                                                <td>'+file.name+'</td>\
                                                <td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
                                                <td>'+size+'</td>\
                                                <td>Uploading...</td>\
                                            </tr>');

                $example_dropzone_filetable.find('tbody').append($el);
                file.fileEntryTd = $el;
                file.progressBar = $el.find('.progress-bar');
            },

            uploadprogress: function(file, progress, bytesSent)
            {
                file.progressBar.width(progress + '%');
            },

            success: function(file,res)
            {
                //console.log(file);
                console.log(res);
                file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                $('#advancedDropzone_picture').html('<img style="width: 180px;height: 120px;border-radius: 0%" src="' + res.data.url + '" />');
                $('#add-resource #picture_url').val(res.data.url);
                $('#upload-show').modal('toggle')
            },

            error: function(file)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            }
        });

        example_dropzone3 = $("#advancedDropzone_video").dropzone({
            url: '/admin/base/uploadVideo',
            // Events
            addedfile: function(file)
            {
                $('#upload-show').modal('toggle')
                if(i == 1)
                {
                    $example_dropzone_filetable.find('tbody').html('');
                }
                var size = parseInt(file.size/1024, 10);
                size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");
                var	$el = $('<tr>\
                                                <td class="text-center">'+(i++)+'</td>\
                                                <td>'+file.name+'</td>\
                                                <td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
                                                <td>'+size+'</td>\
                                                <td>Uploading...</td>\
                                            </tr>');

                $example_dropzone_filetable.find('tbody').append($el);
                file.fileEntryTd = $el;
                file.progressBar = $el.find('.progress-bar');
            },

            uploadprogress: function(file, progress, bytesSent)
            {
                file.progressBar.width(progress + '%');
            },

            success: function(file,res)
            {
                //console.log(file);
                //console.log(res);
                file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                $('#advancedDropzone_video').html('<video controls="controls" style="width: 180px;height: 120px;border-radius: 0%" src="' + res.data.url.playUrl + '"></video>');
                $('#add-resource #video_url').val(res.data.url.playUrl);
                $('#add-resource #video_play_auth').val(res.data.url.playAuth);
                $('#add-resource #vod_video_id').val(res.data.url.videoId);
                $('#upload-show').modal('toggle')
            },

            error: function(file)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            }
        });



        example_dropzone2 = $("#edit-advancedDropzone-picture").dropzone({
            url: '/admin/base/uploadFile',
            // Events
            addedfile: function(file)
            {
                $('#upload-show').modal('toggle')
                if(i == 1)
                {
                    $example_dropzone_filetable.find('tbody').html('');
                }

                var size = parseInt(file.size/1024, 10);
                size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");

                var	$el = $('<tr>\
                                        <td class="text-center">'+(i++)+'</td>\
                                        <td>'+file.name+'</td>\
                                        <td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
                                        <td>'+size+'</td>\
                                        <td>Uploading...</td>\
                                    </tr>');

                $example_dropzone_filetable.find('tbody').append($el);
                file.fileEntryTd = $el;
                file.progressBar = $el.find('.progress-bar');
            },

            uploadprogress: function(file, progress, bytesSent)
            {
                file.progressBar.width(progress + '%');
            },

            success: function(file,res)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                $("#show-image").attr("src",res.data.url)
                $('#edit-form #edit-image-url').val(res.data.url);
                $('#upload-show').modal('toggle')
            },

            error: function(file)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            }
        });

        example_dropzone4 = $("#edit-advancedDropzone-video").dropzone({
            url: '/admin/base/uploadVideo',
            // Events
            addedfile: function(file)
            {
                $('#upload-show').modal('toggle')
                if(i == 1)
                {
                    $example_dropzone_filetable.find('tbody').html('');
                }

                var size = parseInt(file.size/1024, 10);
                size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");

                var	$el = $('<tr>\
                                        <td class="text-center">'+(i++)+'</td>\
                                        <td>'+file.name+'</td>\
                                        <td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
                                        <td>'+size+'</td>\
                                        <td>Uploading...</td>\
                                    </tr>');

                $example_dropzone_filetable.find('tbody').append($el);
                file.fileEntryTd = $el;
                file.progressBar = $el.find('.progress-bar');
            },

            uploadprogress: function(file, progress, bytesSent)
            {
                file.progressBar.width(progress + '%');
            },

            success: function(file,res)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                $("#show-video").attr("src",res.data.url.playUrl)
                $('#edit-form #edit-video-url').val(res.data.url.playUrl);
                $('#edit-form #edit-video-id').val(res.data.url.videoId);
                $('#edit-form #edit-video-play-auth').val(res.data.playAuth);
                $('#upload-show').modal('toggle')
            },

            error: function(file)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            }
        });

    });
</script>
{/block}