{extend name="public/base" /}


<link rel="stylesheet" href="">

{block name="content"}
<style>
    .img-responsive [data-ratio="16:9"]{
        height: 7rem;
    }
    .test{
        border-radius: 0%;
        width: 100%;
        padding-bottom: 6%;
        line-height:9vw;
    }
</style>
<!--页面路径 和 页面标题-->
<div class="page-title">

    <div class="title-env">
        <h1 class="title">关键词管理</h1>
        <p class="description">所有视频标签</p>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="/admin"><i class="fa-home"></i>Home</a>
            </li>
            <li>
                <a href="/admin/keywords/index">关键词管理</a>
            </li>
            <li class="active">
                <strong>关键词列表</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-10">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">关键词列表</font></font></h3>
                <div class="panel-options">
                    <button class="btn btn-icon btn-danger" id="deleted_all">
                        <i class="fa-trash"></i> 批量删除
                    </button>

                    <button class="btn btn-icon btn-success" data-toggle="modal" data-target="#add-keyWords">
                        <i class="fa-plus"></i> 添加关键词
                    </button>
                </div>
            </div>

            <div class="panel-body panel-border">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th> <input id="CheckAll" name='CheckAll' type='checkbox'> ID</th>
                                <th>排序</th>
                                <th>封面</th>
                                <th>名字</th>
                                <th style="width: 140px;">简介</th>
                                <th style="width: 200px;">详情</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $lists as $key => $list}
                            <tr>
                                <td>
                                    <input type="checkbox" name="ids[]" value="{$list.id}" style="margin-right: 5px;">
                                    {$list.id}
                                </td>
                                <td>{$list.sort}</td>
                                <td>
                                    <img src="{$list.poster}" width="80px">
                                </td>
                                <td>
                                    <p title="{$list.name}">
                                        {$list.name}
                                    </p>
                                </td>
                                <td>
                                    <p style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;" title="{$list.desc}">
                                    {$list.desc}
                                    </p>
                                </td>
                                <td>
                                    <p style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;" title="{$list.content}">
                                        {$list.content}
                                    </p>
                                </td>
                                <td>
                                    <input type="checkbox" onclick="change_status({$list.id},'keyWords','status')" {if condition="$list.status == 1"}checked=""{/if}  class="iswitch iswitch-success">
                                </td>
                                <td>
                                    {if condition="$list.control_id == 0")}
                                    <button class="btn btn-icon btn-primary disabled"  data-toggle="modal" data-target="#related-keyWords" data-id="{$list.id}">
                                        未关联
                                    </button>
                                    {else}
                                    <a href="/admin/system/banner?control_id={$list.control_id}" class="btn btn-icon btn-primary">
                                        编辑轮播图
                                    </a>
                                    {/if}
                                    <button class="btn btn-icon btn-success" data-toggle="modal" data-target="#edit-keyWords" data-id="{$list.id}">
                                        <i class="fa-edit"></i>
                                    </button>

                                    <button class="btn btn-icon btn-red" onclick="deleted({$list.id},'keyWords')">
                                        <i class="fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-6 control-label">共 {$lists->total()} 条记录</label>
                    <div class="col-md-6 text-right">
                        <nav aria-label="Page navigation">
                            {$lists->render()}
                        </nav>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{/block}

{block name="modal"}

<!--添加关键词模态框-->
<div class="modal fade custom-width" id="add-keyWords" aria-hidden="true" style="display: none;overflow:scroll;">
    <div class="modal-dialog" style="width: 50%">
        <form id="add-form" method="post" class="form-horizontal" action="/admin/keywords/addKeyWordsPost">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">添加关键词</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-7 text-center">
                            <div id="advancedDropzone" class="droppable-area" style="border-radius: 0%;width: 180px;height: 120px;line-height: 120px;">
                                点击上传封面
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="sort" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名字</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="name" placeholder="字数尽量少">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">简介</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="desc" maxlength="60" placeholder="不超过60个英文字符，1个中文字符==3个英文字符">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="10" name="content" maxlength="150" placeholder="不超过150个英文字符，1个中文字符==3个英文字符"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关联组件</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="control_id">
                                    {foreach $control_list as $list}
                                    <option value="{$list.id}">{$list.control_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-6">
                                <label class="radio-inline"><input type="radio" name="status" checked="1" value="1">发布</label>
                                <label class="radio-inline"><input type="radio" name="status" value="2">隐藏</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="hidden" value="" name="poster" id="file_url">
                    <input type="button" class="btn btn-info btn-single pull-right" id="add-button" value="Save changes">
                </div>
            </div>
        </form>
    </div>
</div>


<!--编辑分类模态框-->
<div class="modal fade" id="edit-keyWords" aria-hidden="true" style="display: none;overflow:scroll;">
    <div class="modal-dialog">
        <form id="edit-form" method="post" class="form-horizontal" action="/admin/keywords/editKeyWordsPost">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">编辑关键词</h4>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="id" id="keyWords_id" value="">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">原图</label>
                            <div class="col-sm-4">
                                <div class="droppable-area" style="border-radius: 0%;width:180px;height: 120px;">
                                    <img src="" id="show-image" style="width: 100%;">
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div id="edit-advancedDropzone" class="droppable-area" style="border-radius: 0%;width: 180px;height: 120px;line-height: 120px;">
                                    点击上传封面
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="sort" id="sort" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名字</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="name" id="name" placeholder="字数尽量少">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">简介</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="desc" id="desc"  maxlength="60" placeholder="不超过60个英文字符，1个中文字符==3个英文字符">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="10" name="content" id="content" maxlength="150" placeholder="不超过150个英文字符，1个中文字符==3个英文字符"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关联组件</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="control_type" id="control_type">
                                    <option value="">当前未关联，请选择组件</option>
                                    {foreach $control_list as $list}
                                    <option value="{$list.id}">{$list.control_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-6">
                                <label class="radio-inline"><input type="radio" name="status" checked="1" value="1">发布</label>
                                <label class="radio-inline"><input type="radio" name="status" value="2">隐藏</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="hidden" name="poster" id="edit-file-url" value="">
                    <input type="button" class="btn btn-info" id="edit-button" value="Save changes">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="upload-show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">上传进度</h4>
            </div>
            <div class="modal-body">
                <div class="page-container">
                    <div class="main-content ">
                        <div class="row table-responsive">
                            <table class="table table-bordered table-striped" id="example-dropzone-filetable">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Name</th>
                                    <th>Upload Progress</th>
                                    <th>Size</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5">Files list will appear here</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script src="/static/assets/js/dropzone/dropzone.js"></script>
<script>
    $('#edit-keyWords').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var modal = $(this);
        $.ajax({
            url:'/admin/keywords/editKeyWords',
            method: 'POST',
            dataType: 'json',
            data:{
                id:id,
            },
            success: function(res)
            {
                if(res.code == 1) {
                    modal.find('.modal-body #keyWords_id').val(res.data.id);
                    modal.find('.modal-body #sort').val(res.data.sort);
                    modal.find('.modal-body #name').val(res.data.name);
                    modal.find('.modal-body #desc').val(res.data.desc);
                    modal.find('.modal-body #content').val(res.data.content);
                    modal.find('.modal-body #show-image').attr("src",res.data.poster);
                    $("#edit-file-url").val(res.data.poster)
                    $("#edit-keyWords :radio[name='status'][value='" + res.data.status + "']").prop("checked", "checked");
                    var a = $("#edit-keyWords select[name='control_type']").val(res.data.control_id);
                    //a.attr('selected','selected');
                }else{
                    error(res.message);
                }
            }
        });
    });

    //添加关键词表单提交
    $("#add-button").click(function(){
        var targetUrl = $("#add-form").attr("action");
        var data = $("#add-form").serialize();
        $.ajax({
            type:'post',
            url:targetUrl,
            cache: false,
            data:data,
            dataType:'json',
            success:function(data){
                if(data.code == 1) {
                    success(data.message);
                    setTimeout("location.reload()",1000);
                }else{
                    error(data.message);
                }
            }
        })
    });

    //编辑关键词表单提交
    $("#edit-button").click(function(){
        var targetUrl = $("#edit-form").attr("action");
        var data = $("#edit-form").serialize();
        $.ajax({
            type:'post',
            url:targetUrl,
            cache: false,
            data:data,
            dataType:'json',
            success:function(data){
                if(data.code == 1) {
                    success(data.message);
                    setTimeout("location.reload()",1000);
                }else{
                    error(data.message);
                }
            }
        })
    });

    //更改状态
    function change_status(id,type,field) {
        $.ajax({
            url:'/admin/video/changeStatus',
            method: 'POST',
            dataType: 'json',
            data:{
                id:id,
                type:type,
                field:field
            },
            success: function(res)
            {
                if(res.code != 1) {
                    error(res.message);
                }
            }
        })
    };

    //删除关键词
    function deleted(id,type) {
        if(confirm("是否确认删除")){
            $.ajax({
                url:'/admin/video/deleted',
                method: 'POST',
                dataType: 'json',
                data:{
                    id:id,
                    type:type
                },
                success: function(res)
                {
                    if(res.code == 1) {
                        success(res.message);
                        setTimeout("location.reload()",1000);
                    }else{
                        error(res.mssage);
                    }
                }
            })
        }
    };

    //批量删除
    $("#deleted_all").click(function(){
        if(confirm('确定要删除所选吗?')){
            var checks = $("input[name='ids[]']:checked");
            if(checks.length == 0){ alert('未选中任何项！');return false;}
            //将获取的值存入数组
            var checkData = new Array();
            checks.each(function(){
                checkData.push($(this).val());
            });
            console.log(checkData);
            $.ajax({
                url:'/admin/video/deleted',
                method: 'POST',
                dataType: 'json',
                data:{
                    ids:checkData.toString(),
                    type:'keyWords'
                },
                success: function(res)
                {
                    if(res.code == 1) {
                        success(res.message);
                        setTimeout("location.reload()",1000);
                    }else{
                        error(res.message);
                    }
                }
            });
        }
    });
    
</script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        var i = 1,
            $example_dropzone_filetable = $("#example-dropzone-filetable"),
            example_dropzone1 = $("#advancedDropzone").dropzone({
                url: '/admin/base/uploadFile',
                // Events
                addedfile: function(file)
                {
                    $('#upload-show').modal('toggle')
                    if(i == 1)
                    {
                        $example_dropzone_filetable.find('tbody').html('');
                    }

                    var size = parseInt(file.size/1024, 10);
                    size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");

                    var	$el = $('<tr>\
                                                <td class="text-center">'+(i++)+'</td>\
                                                <td>'+file.name+'</td>\
                                                <td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
                                                <td>'+size+'</td>\
                                                <td>Uploading...</td>\
                                            </tr>');

                    $example_dropzone_filetable.find('tbody').append($el);
                    file.fileEntryTd = $el;
                    file.progressBar = $el.find('.progress-bar');
                },

                uploadprogress: function(file, progress, bytesSent)
                {
                    file.progressBar.width(progress + '%');
                },

                success: function(file,res)
                {
                    file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                    file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                    $('#advancedDropzone').html('');
                    $('#advancedDropzone').append('<img style="width: 180px;height: 120px;border-radius: 0%" src="' + res.data.url + '" />');
                    $('#add-form #file_url').val(res.data.url);
                    $('#upload-show').modal('toggle')
                },

                error: function(file)
                {
                    file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                    file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
                }
            });




        example_dropzone2 = $("#edit-advancedDropzone").dropzone({
            url: '/admin/base/uploadFile',
            // Events
            addedfile: function(file)
            {
                $('#upload-show').modal('toggle')
                if(i == 1)
                {
                    $example_dropzone_filetable.find('tbody').html('');
                }

                var size = parseInt(file.size/1024, 10);
                size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");

                var	$el = $('<tr>\
                                        <td class="text-center">'+(i++)+'</td>\
                                        <td>'+file.name+'</td>\
                                        <td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
                                        <td>'+size+'</td>\
                                        <td>Uploading...</td>\
                                    </tr>');

                $example_dropzone_filetable.find('tbody').append($el);
                file.fileEntryTd = $el;
                file.progressBar = $el.find('.progress-bar');
            },

            uploadprogress: function(file, progress, bytesSent)
            {
                file.progressBar.width(progress + '%');
            },

            success: function(file,res)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                $('#edit-advancedDropzone').html('');
                $('#edit-advancedDropzone').append('<img style="width: 180px;height: 120px;border-radius: 0%" src="' + res.data.url + '" />');
                $('#edit-form #edit-file-url').val(res.data.url);
                $('#upload-show').modal('toggle')
            },

            error: function(file)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            }
        });


    });
</script>
{/block}