{extend name="public/base" /}

{block name="content"}
<style>
    .img-responsive [data-ratio="16:9"]{
        height: 7rem;
    }
    .test{
        border-radius: 0%;
        width: 100%;
        padding-bottom: 6%;
        line-height:9vw;
    }

    .trash-btn{font-size:20px;padding: 20px 20px 20px 20px;width: 100%;height:50%;position: absolute;line-height:140px;right: 15px;background: none;border: none;cursor: pointer;text-align: center}
</style>

<!--页面路径 和 页面标题-->
<div class="page-title">

    <div class="title-env">
        <h1 class="title">视频管理</h1>
        <p class="description">编辑视频</p>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="/admin"><i class="fa-home"></i>Home</a>
            </li>
            <li>
                <a href="/admin/video/topic">视频管理</a>
            </li>
            <li class="active">
                <strong>编辑信息</strong>
            </li>
        </ol>

    </div>

</div>

<div style="position: fixed;top: 0;right: 0;z-index: 1;display: none" id="upload-log">
    <h3>视频上传中，请稍候...</h3>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">编辑视频</font></font></h3>
            </div>

            <div class="panel-body">
                <form id="edit-form" method="post" class="form-horizontal" action="/admin/video/editPost" enctype="multipart/form-data">
                    <input type="hidden" name="poster_url" id="poster_url" value="{$info.poster}">
                    <input type="hidden" name="video_url" id="video_url" value="{$info.url}">
                    <input type="hidden" value="" name="video_play_auth" id="video_play_auth">
                    <input type="hidden" value="" name="vod_video_id" id="vod_video_id">
                    <input type="hidden" name="demo_video_url" id="demo_video_url" value="{$info.demo_url}">
                    <input type="hidden" name="demo_video_play_auth" id="demo_video_play_auth" value="{$info.demo_video_play_auth}">
                    <input type="hidden" name="demo_vod_video_id" id="demo_vod_video_id" value="{$info.demo_vod_video_id}">
                    <input type="hidden" name="id" value="{$info.id}">
                    <div class="form-group">
                        <input type="button" class="btn btn-info btn-single pull-right edit-button"  value="Save changes">
                    </div>

                    <div class="form-group" style="text-align: center">
                        <label class="col-sm-2 control-label">文件预览</label>
                        <div class="col-sm-3">
                            <div class="image-div">
                                <img src="{$info.poster}" id="show_poster_url" class="test"/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="video-div">
                                <video src="{$info.url}" id="show_video_url" class="test" controls="controls"></video>
                            </div>
                        </div>
                        {if($info.is_free == 2)}
                        <div class="col-sm-3" id="add_demo_show_video" style="display: block;">
                            <video src="{$info.demo_url}" id="show_demo_video_url" class="test" controls="controls"></video>
                        </div>
                        {else}
                        <div class="col-sm-3" id="add_demo_show_video" style="display: none;">
                            <video src="" id="show_demo_video_url" class="test" controls="controls" style="display: none;"></video>
                        </div>
                        {/if}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">文件上传</label>
                        <div class="col-sm-3">
                            <div id="advancedDropzone" class="droppable-area test">
                                点击上传封面
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div id="advancedDropzone1" class="droppable-area test">
                                点击上传视频
                            </div>
                        </div>
                        <div class="col-sm-3" id="add_demo_video_choose" {if($info.is_free == 2)}style="display: block;"{else}style="display: none;"{/if}>
                            <div id="advancedDropzone2" class="droppable-area test">
                                点击上传试看视频
                            </div>
                        </div>

                    </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">标题</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="name" value="{$info.name}">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">标签</label>
                <div class="col-sm-6">
                    <select class="form-control" id="s2example-4" name="tag[]" multiple>
                        <option></option>
                        <optgroup label="标签列表">
                            {foreach $tags as $tag}
                            <option value="{$tag.id}" {if ( in_array($tag.id,json_decode($info.tag_list)))}selected{/if}>{$tag.name}</option>
                            {/foreach}
                        </optgroup>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">关键字列表</label>
                <div class="col-sm-6">
                    <select class="form-control" id="s2example-3" name="keywords_ids[]" multiple>
                        <optgroup label="关键字列表">
                            {foreach $keywords_list as $keywords}
                            <option value="{$keywords.id}" {if ( in_array($keywords.id,json_decode($info.keywords_list)))}selected{/if}>{$keywords.name}</option>
                            {/foreach}
                        </optgroup>
                    </select>
                </div>
            </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属作者</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="s2example-2" name="channel_id">
                                <option></option>
                                <optgroup label="作者列表">
                                    {foreach $channels as $channel}
                                    <option value="{$channel.id}" {if condition="$info.channel_id == $channel.id"}selected{/if}>{$channel.name}</option>
                                    {/foreach}
                                </optgroup>
                            </select>
                        </div>
                    </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">所属控件</label>
                <div class="col-sm-4">
                    <select class="form-control" id="s2example-1" name="control_id">
                        <option></option>
                        <optgroup label="控件列表">
                            {foreach $control_list as $control}
                            <option value="{$control.id}" {if condition="$info.control_id == $control.id"}selected{/if}>{$control.control_name}</option>
                            {/foreach}
                        </optgroup>
                    </select>
                </div>
            </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="10" name="desc">{$info.desc}</textarea>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">下载次数</label>-->
                        <!--<div class="col-sm-2">-->
                            <!--<input type="text" class="form-control" name="download_count" value="{$info.download_count}">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">分享访问次数</label>-->
                        <!--<div class="col-sm-2">-->
                            <!--<input type="text" class="form-control" name="shares_count" value="{$info.shares_count}">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">播放次数</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="played_count" value="{$info.played_count}">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">收藏数</label>-->
                        <!--<div class="col-sm-2">-->
                            <!--<input type="text" class="form-control" name="favorites_count"  value="{$info.favorites_count}">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">第三方名字</label>-->
                        <!--<div class="col-sm-4">-->
                            <!--<input type="text" class="form-control" name="share_name" value="{$info.share_name}">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">分享链接</label>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" name="share_url" value="{$info.share_url}">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">推送时间</label>-->

                        <!--<div class="col-sm-6">-->
                            <!--<div class="date-and-time">-->
                                <!--<input type="text" class="form-control datepicker" name="date" value="{$info.date}" data-format="yyyy-mm-dd">-->
                                <!--<input type="text" class="form-control timepicker" name="time" value="{$info.time}" data-template="dropdown" data-show-seconds="true"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">允许下载</label>-->
                        <!--<div class="col-sm-6">-->
                            <!--<label class="radio-inline"><input type="radio" name="downloadable" {if condition="$info.downloadable == 1"}checked{/if} value="1">是</label>-->
                            <!--<label class="radio-inline"><input type="radio" name="downloadable" value="2" {if condition="$info.downloadable == 2"}checked{/if}>否</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否免费</label>
                        <div class="col-sm-2">
                            <label class="radio-inline"><input type="radio" name="is_free" {if condition="$info.is_free == 1"}checked{/if} value="1" >免费</label>
                            <label class="radio-inline"><input type="radio" name="is_free" {if condition="$info.is_free == 0"}checked{/if} value="0">收费</label>
                        </div>
                        <div class="col-sm-6" id="price" style="height: 25px;">
                            {if condition="$info.is_free == 2"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">价格</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" name="price" value="{$info.price}">
                                </div>
                            </div>
                            {/if}
                        </div>
                    </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">排列序号</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="sort_by" value="{$info.sort_by}">
                </div>
            </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否置顶</label>
                        <div class="col-sm-6">
                            <label class="radio-inline"><input type="radio" name="is_top" value="0" {if condition="$info.is_top == 0"}checked{/if}>否</label>
                            <label class="radio-inline"><input type="radio" name="is_top" value="1" {if condition="$info.is_top == 1"}checked{/if}>是</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-6">
                            <label class="radio-inline"><input type="radio" name="status" {if condition="$info.status == 1"}checked{/if} value="1" >发布</label>
                            <label class="radio-inline"><input type="radio" name="status" {if condition="$info.status == 0"}checked{/if} value="2">隐藏</label>
                        </div>
                    </div>
            <!--广告-->
            <div class="form-group">
                <label class="col-sm-2 control-label">是不是广告</label>
                <div class="col-sm-6">
                    <label class="radio-inline"><input type="radio" name="is_advertising" value="1" {if condition="$info.is_advertising == 1"}checked{/if}>是</label>
                    <label class="radio-inline"><input type="radio" name="is_advertising" value="0" {if condition="$info.is_advertising == 0"}checked{/if}>否</label>
                </div>
            </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-info btn-single pull-right edit-button" value="Save changes">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{/block}

{block name="modal"}

<div class="modal fade bs-example-modal-lg" id="upload-show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">上传进度</h4>
            </div>
            <div class="modal-body">
                <div class="page-container">
                    <div class=" main-content ">
                        <div class="row table-responsive">
                            <table class="table table-bordered table-striped" id="example-dropzone-filetable">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Name</th>
                                    <th>Upload Progress</th>
                                    <th>Size</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5">Files list will appear here</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="cancel">取消上传</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{/block}


{block name="js"}
<script src="/static/assets/js/dropzone/dropzone.js"></script>
<script src="/static/assets/js/datepicker/bootstrap-datepicker.js"></script>
<script src="/static/assets/js/timepicker/bootstrap-timepicker.min.js"></script>

<script>
    //编辑分类表单提交
    $(".edit-button").click(function(){
        var targetUrl = $("#edit-form").attr("action");
        var data = $("#edit-form").serialize();
        var isFree = $("input[name=is_free]:checked").val();
        if(isFree == 2){
            var demoUrl = $("#demo_video_url").val();
            if(!demoUrl){
                error('付费视频必须上传试看视频！');
                return;
            }
            var price = $("input[name=price]").val();
            if(price<=0){
                error('视频价格必须大于0！');
                return;
            }
        }
        $.ajax({
            type:'post',
            url:targetUrl,
            cache: false,
            data:data,
            dataType:'json',
            success:function(data){
                if(data.code == 1) {
                    success(data.message);
                    setTimeout("window.location.href='/admin/video/index'",1000);
                }else{
                    error(data.message);
                }
            }
        })
    });
    $(function(){
        $(":radio[name=is_free]").click(function(){
            var isFree = $(this).val();
            if(isFree == 2){
                $('#price').html('<div class="form-group">' +
                    ' <label class="col-sm-2 control-label">价格</label>' +
                    '<div class="col-sm-2">' +
                    '<input type="number" class="form-control" name="price" value="{$info.price}">' +
                    '</div>' +
                    '</div>');
                $("#add_demo_show_video").css('display','block');
                $("#add_demo_video_choose").css('display','block');
                $("#advancedDropzone2").css('display','block');
            }else if(isFree == 1){
                $('#price').html('');
                $("#add_demo_show_video").css('display','none');
                $("#add_demo_video_choose").css('display','none');
                $("#advancedDropzone2").css('display','none');
            }
        });
    })
</script>

<script type="text/javascript">
    jQuery(document).ready(function($)
    {
        var i = 1,
        $example_dropzone_filetable = $("#example-dropzone-filetable"),
        example_dropzone = $("#advancedDropzone").dropzone({
            url: '/admin/base/uploadFile',
            parallelUploads: 1,//一次上传的文件数量
            maxFiles:1,//一次性上传的文件数量上限
            maxFilesize:500, //上传文件最大尺寸
            init: function () {
                var submitButton = document.querySelector("#cancel")
                myDropzone = this;
                submitButton.addEventListener("click", function () {
                    myDropzone.removeAllFiles(true);
                });
            },
            // Events
            addedfile: function(file)
            {
                $('#upload-show').modal('toggle')

                $example_dropzone_filetable.find('tbody').html('');

                var size = parseInt(file.size/1024, 10);
                size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");

                var	$el = $('<tr>\
                                            <td class="text-center">'+(i++)+'</td>\
                                            <td>'+file.name+'</td>\
                                            <td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
                                            <td>'+size+'</td>\
                                            <td>Uploading...</td>\
                                        </tr>');

                $example_dropzone_filetable.find('tbody').append($el);
                file.fileEntryTd = $el;
                file.progressBar = $el.find('.progress-bar');
            },

            uploadprogress: function(file, progress, bytesSent)
            {
                file.progressBar.width(progress + '%');
            },

            success: function(file,res)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                if(res.code == 1) {
                    $('#edit-form #poster_url').val(res.data.url);
                    $('#edit-form #show_poster_url').attr('src',res.data.url);
                    $('#show-div').css('display','block');
                    $('#show_poster_url').css('display','block');
                    $(".image-div").css("display","block");
                    success(res.message);
                    $('#upload-show').modal('toggle')
                    myDropzone.removeAllFiles(true);
                }else{
                    error(res.message);
                    myDropzone.removeAllFiles(true);
                }

            },

            //取消上传
            canceled: function (file) {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Cancel</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            },

            error: function(file)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            }
        });


        example_dropzone1 = $("#advancedDropzone1").dropzone({
            url: '/admin/base/uploadVideo',
            parallelUploads: 1,//一次上传的文件数量
            maxFiles:1,//一次性上传的文件数量上限
            maxFilesize:500, //上传文件最大尺寸
            init: function () {
                var submitButton = document.querySelector("#cancel")
                myDropzone1 = this;
                submitButton.addEventListener("click", function () {
                    myDropzone1.removeAllFiles(true);
                });
            },
            // Events
            addedfile: function(file)
            {
                $('#upload-show').modal('toggle')
                $example_dropzone_filetable.find('tbody').html('');

                var size = parseInt(file.size/1024, 10);
                size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");

                var	$el = $('<tr>\
													<td class="text-center">'+(i++)+'</td>\
													<td>'+file.name+'</td>\
													<td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
													<td>'+size+'</td>\
													<td>Uploading...</td>\
												</tr>');

                $example_dropzone_filetable.find('tbody').append($el);
                file.fileEntryTd = $el;
                file.progressBar = $el.find('.progress-bar');
                $("#upload-log").css("display","block");
            },

            uploadprogress: function(file, progress, bytesSent)
            {
                file.progressBar.width(progress + '%');
            },

            success: function(file,res)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                if(res.code == 1) {
                    $('#edit-form #video_url').val(res.data.url.playUrl);
                    $('#edit-form #video_play_auth').val(res.data.url.playAuth);
                    $('#edit-form #vod_video_id').val(res.data.url.videoId);
                    $('#edit-form #show_video_url').attr('src',res.data.url.playUrl+'&auth_key='+res.data.url.playAuth);
                    $('#show-div').css('display','block');
                    $('#show_video_url').css('display','block');
                    $(".video-div").css("display","block");
                    success(res.message);
                    $('#upload-show').modal('toggle')
                    myDropzone1.removeAllFiles(true);
                    $("#upload-log h3").html("上传完成");
                    setTimeout(uploadLog,3000);
                }else{
                    error(res.message);
                    myDropzone1.removeAllFiles(true);
                    $("#upload-log h3").html("上传失败");
                }

            },

            //取消上传
            canceled: function (file) {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Cancel</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            },

            error: function(file)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            }
        });

        example_dropzone2 = $("#advancedDropzone2").dropzone({
            url: '/admin/base/uploadVideo',
            parallelUploads: 1,//一次上传的文件数量
            maxFiles:1,//一次性上传的文件数量上限
            maxFilesize:500, //上传文件最大尺寸
            init: function () {
                var submitButton = document.querySelector("#cancel")
                myDropzone2 = this;
                submitButton.addEventListener("click", function () {
                    myDropzone2.removeAllFiles(true);
                });
            },
            // Events
            addedfile: function(file)
            {
                $('#upload-show').modal('toggle')

                $example_dropzone_filetable.find('tbody').html('');

                var size = parseInt(file.size/1024, 10);
                size = size < 1024 ? (size + " KB") : (parseInt(size/1024, 10) + " MB");

                var	$el = $('<tr>\
													<td class="text-center">'+(i++)+'</td>\
													<td>'+file.name+'</td>\
													<td><div class="progress progress-striped"><div class="progress-bar progress-bar-warning"></div></div></td>\
													<td>'+size+'</td>\
													<td>Uploading...</td>\
												</tr>');

                $example_dropzone_filetable.find('tbody').append($el);
                file.fileEntryTd = $el;
                file.progressBar = $el.find('.progress-bar');
                $("#upload-log").css("display","block");
            },

            uploadprogress: function(file, progress, bytesSent)
            {
                file.progressBar.width(progress + '%');
            },

            success: function(file,res)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-success">Uploaded</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-success');
                if(res.code == 1) {
                    $('#edit-form #demo_video_url').val(res.data.url.playUrl);
                    $('#edit-form #demo_video_play_auth').val(res.data.url.playAuth);
                    $('#edit-form #demo_vod_video_id').val(res.data.url.videoId);
                    $('#edit-form #show_demo_video_url').attr('src',res.data.url.playUrl);
                    $('#show-div').css('display','block');
                    $('#show_demo_video_url').css('display','block');
                    success(res.message);
                    $('#upload-show').modal('toggle')
                    $("#upload-log h3").html("上传完成");
                    setTimeout(uploadLog,3000);
                }else{
                    error(res.message);
                    $("#upload-log h3").html("上传失败");
                }

            },

            //取消上传s
            canceled: function (file) {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Cancel</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            },

            error: function(file)
            {
                file.fileEntryTd.find('td:last').html('<span class="text-danger">Failed</span>');
                file.progressBar.removeClass('progress-bar-warning').addClass('progress-bar-red');
            }
        });
    });
</script>
{/block}